{% extends 'start/base.html' %}
{% load static %}
{% block extrainhead %}
<link rel="stylesheet" href={% static "/start/css/style-pages.css" %}>
{% endblock %}
{%block content%}
<!--page-contact-->
<div class="page-contact">
    <div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="information">
                <ul class="list-unstyled">
                    <li><i class="fa fa-send"></i> info@artesaniasdeboyaca.com</li>
                    <li><i class="fa fa-phone"></i> (8) 742 0150 Ext. 220</li>
                    <li><i class="fa fa-map-marker"></i> Calle 20 No. 9-90 Oficina 202-203, Centro Plaza de Bolívar,
                        Tunja,
                        Boyacá Colombia
                    </li>
                </ul>
            </div><!--/.information-->
        </div><!--/.col-->
        <div class="col-md-6">
            <div class="contact-form">
                <form class="form-horizontal" action="{% url 'userprofile:contact' %}" method="POST" enctype="">
                    {%csrf_token%}
                    {{form.name}}
                    {{form.phone}}
                    {{form.email}}
                    {{form.message}}
                    <input type="submit" value="Enviar mensaje" class="btn btn-contact">
                </form>
            </div><!--/.contact-form-->
        </div><!--/.col-->
        <div class="col-md-12">
            <div class="row">
                <div class="maps">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15885.054716333381!2d-73.36533854433037!3d5.527844299705524!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb52cc09eccafd5a9!2sGobernaci%C3%B3n+de+Boyac%C3%A1!5e0!3m2!1ses-419!2sco!4v1537730714900"
                            width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div><!--/.maps-->
            </div><!--/.row-->
        </div><!--/.col-->
    </div><!--/.row-->
    </div>
</div>
<!--/.page-contact-->
{%endblock%}