{% extends 'start/base.html' %}
{% load static %}

{% block extrainhead %}
<link rel="stylesheet" href={% static "/start/css/style-pages.css" %}>
{% endblock %}
{%block content%}
<br><br><br><br>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      {% include "userprofile/settings_menu.html" %}
    </div>
    <div class="col-md-9">
      <form action="{% url 'userprofile:profile_change' %}" method="post">
        {% csrf_token %}
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Edit Profile ({{ user.username }})</h3>
          </div>
          <div class="panel-body">
            {% for hidden in form.hidden_fields %}
  {{ hidden }}
{% endfor %}

{% for field in form.visible_fields %}
  <div class="form-group{% if field.errors %} has-error{% endif %}">
    <label for="{{ field.id_for_label }}" class="control-label">{{ field.label }}</label>
    {{ field }}
    {% for error in field.errors %}
      <span class="help-block">{{ error }}</span>
    {% endfor %}
    {% if field.help_text %}
      <span class="help-block">{{ field.help_text }}</span>
    {% endif %}
  </div>
{% endfor %}
          </div>
          <div class="panel-footer">
            <button type="submit" class="btn btn-success btn-large">Save profile</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{%endblock%}


