{% extends 'start/base.html' %}
{% load static %}
{% block title %}
 متنساش تقلي العنوان هنا
{%endblock%}
{% block extrainhead %}
<link rel="stylesheet" href={% static "/start/css/style-pages.css" %}>
<style>
    #map {
        height: 400px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }
</style>
{% endblock %}
{%block content%}
 <!--.sellers-page-->

    <div class="sellers-page">
        <div class="container">
            <div class="row">
                {% for seller in sellers %}
                <div class="seller">
                    <img src="{{seller.avatar.url}}" alt="">
                    <div class="overlay">
                        <div class="text">
                            <h3>{{seller.name}}</h3>
                            <span><i class="fa fa-map-marker"></i> {{seller.city.name}}</span>
<!--
                            <p class="caption-seller">
                                This is a simple hero unit, a simple jumbotron-style component for calling extra attention,
                                This is a simple hero unit, a simple jumbotron-style component for calling extra attention.
                            </p>
-->
                            <a class="view-seller" href="{% url 'userprofile:vendor' seller.id %}"><i class="fa fa-arrow-right"></i> view profile</a>
                        </div>
                    </div>
                </div><!--/.seller-->
                {% endfor %}

            </div><!--/.row-->
            <div id="map"></div>
<script>
// Initialize and add the map
function initMap() {
  // The location of Uluru
  var locations = {{positions|safe}};
  // The map, centered at Uluru
  var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 4, center: new google.maps.LatLng(-33.92, 151.25)});
  // The marker, positioned at Uluru
  for (i = 0; i < locations.length; i++) {
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
        map: map
      });
      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(locations[i][0]);
          infowindow.open(map, marker);
        }
      })(marker, i));
      }

}
    </script>
            <div class="col-md-12">
                <div class="row">
                    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBFtHE8VOIuHl27sqebPeWN44C1ASjmxn8&callback=initMap">
    </script>
                </div><!--/.row-->
            </div><!--/.col-->
        </div><!--/.container-->
    </div>
    <!--/.sellers-page-->
{%endblock%}
