{% extends 'start/base.html' %}
{% load static %}
{% block title %}
 متنساش تقلي العنوان هنا
{%endblock%}
{% block extrainhead %}
<link rel="stylesheet" href={% static "/start/css/style-pages.css" %}>
{% endblock %}
{%block content%}
<!--page-news-->
    <div class="page-news">
        <div class="container">
            {% for post in posts %}
                <div class="row">
                    <div class="col-md-offset-2 col-md-8">
                        <div class="news">
                            <img class="img-responsive" src={{post.image.url}} alt="">
                            <div class="text-news">
                                <h4>{{post.title}}</h4>
                                <p>
                                    {{post.details}}
                                </p>
                            </div>
                        </div><!--/.news-->
                    </div><!--/.col-->
                </div><!--/.row-->
            {% endfor %}
        </div><!--/.container-->
    </div>
    <!--/.page-news-->
{%endblock%}

