{% extends 'start/base.html' %}
{% load static %}
{% block title %}
 متنساش تقلي العنوان هنا
{%endblock%}
{% block extrainhead %}
<link rel="stylesheet" href={% static "/start/css/style-pages.css" %}>
{% endblock %}
{%block content%}
 <!--card-->
    <div class="card">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="left-card">
                        <div class="panel panel-default panel-responsive">
                            <div class="panel-heading">
                                Productos
                                <span class="pull-right"> Productos ({{carts|length}})</span>
                            </div>
                            <div class="panel-body">
                                <ul class="list-unstyled">
                                    {% if carts %}

                                    {% for cart in carts %}
                                    <li id="cart{{cart.id}}">
                                        <div class="detils-card" >
                                            <img src="{{cart.product.images.all.0.image.url}}" alt="">
                                            <div class="detils">
                                                <h4><a href="{% url 'products:product' cart.product.id %}">{{cart.product.name}}</a> </h4>
                                                <input type="number" id="number{{cart.product.id}}" min="0" value="{{cart.quantity}}">
                                                <a class="btn-proudct" onclick="add_cart({{cart.product.id}})" id="add_c"><i class="fa fa-shopping-bag"></i> Actualizarlo en carrito</a>
                                                <p><label>Vendedor:</label> <a href="{% url 'userprofile:vendor' cart.product.seller.id %}">{{cart.product.seller}}</a> </p>
                                                <p><label>Price:</label> {{cart.product.price}}</p>
                                            </div><!--/.detils-->
                                            <div class="total">
                                                <p><label>Total Price:</label> {{cart.total_cost}}
                                                    $</p>
                                                <p class="delete pull-right" onclick="remove({{cart.id}})"><i class="fa fa-trash" ></i> Remove</p>
                                            </div><!--/.total-->
                                        </div><!--/.detils-card-->
                                    </li>

                                    {% endfor %}

                                    {% else %}
                                        <p>Tienes que añadir algunos productos al carrito.</p>
                                    {% endif %}
                                </ul>
                            </div><!--/.panel-body-->
                        </div><!--/.panel-->
                    </div><!--/.left-card-->
                </div><!--/.col-->
                <div class="col-md-4">
                    <div class="right-card">
                        <div class="panel panel-default panel-responsive">
                            <div class="panel-heading text-center"><strong>Summury</strong></div>
                            <div class="panel-body">
                                <ul class="list-unstyled">
                                    <li>
                                        <label>Numero de articuos</label> <span class="badge" id="number_of_products">{{number_of_products}}</span>
                                    </li>
                                    <li>
                                        <label>Transporte</label> <span>Contergerga</span>
                                    </li>
                                    <li>
                                        <label>Total</label> <span class="badge" id="total_price">{{total_price}}$</span>
                                    </li>
                                    <li class="text-center">
                                        <p>
                                            así como el es¬tímulo hacia la asociatividad y formalización como artesano em¬prendedor.
                                        </p>
                                        <a href="#" class="btn-card">Proceder con pago</a>
                                    </li>
                                </ul>
                            </div><!--/.panel-body-->
                        </div><!--/.panel-->
                    </div><!--/.left-card-->
                </div><!--/.col-->
            </div><!--/.row-->
        </div><!--/.container-->
    </div>
    <!--card-->
<script>
    function remove(cart){
        $.ajax({
                    url: "http://ricardoooo123123123.pythonanywhere.com/products/cart/delete/"+cart+"/",
                    type: 'GET',
                    success: function(res) {
                        console.log(res);
                        if (res){
                            $("#cart"+cart).remove();
                            $("#number_of_products").text(res.number_of_products);
                            $("#total_price").text(res.total_price);
                        }
                    }
                });

    }

    function add_cart(product){
        quantity = $("#number"+product).val();
        if (quantity > 0){
                $.ajax({
                            url: "http://ricardoooo123123123.pythonanywhere.com/products/cart/add/"+product+"/"+quantity+"/",
                            type: 'GET',
                            success: function(res) {
                                console.log(res);
                                $("#add_c").html('<i class="fa fa-shopping-bag"></i> Actualizarlo en carrito');
                                $("#number_of_products").text(res.number_of_products);
                                $("#total_price").text(res.total_price);
                            }
                });
        }
    }
</script>
{%endblock%}
