{% extends 'start/base.html' %}
{% load static %}

{% block extrainhead %}
<link rel="stylesheet" href={% static "/start/css/style-pages.css" %}>
{% endblock %}
{%block content%}


<div class="profileUser">
        <div class="container">
            <div class="veiw_text">

                <div class="Pededos">
                    <div class="col-md-6">
                        <h5><strong>Entregado</strong></h5>
                        <h5><small>Liego 31 de octubre</small></h5>
                        <div class="aboutProudct">
                            <img class="img-responsive" width="180" src="img/6959854329_b88a22b899_b.jpg" alt="">
                            <ul>
                                <li>Proudct Name</li>
                                <li><span>$500</span> * <span>1 unidad</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="controlProudct">
                            <li>lorem lorem</li>
                            <li>926258562326</li>
                            <li><a class="SHOW">Qualify</a></li>
                        </div>
                    </div>

                    <div class="showReviwe">
                        <p><strong>Nuestra Oficina: Calle 20 No. 9-90 Oficina 202-203, Centro</strong></p>
                        <div class="col-md-4">
                            <img class="img-responsive" width="200" src="img/6959854329_b88a22b899_b.jpg" alt="">
                        </div>
                        <div class="col-md-8">
                            <div class="detailsProudct">
                                <h4>Proudct Name ?</h4>
                                <div>
                                    <small>
                                        <fieldset class="rating">
                                            <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
                                            <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                                            <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                                            <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                                            <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
                                            <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                                            <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
                                            <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                                            <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
                                            <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                                        </fieldset>
                                    </small>
                                </div>
                                <li>
                                    <form>
                                        <textarea class="form-control"></textarea>
                                        <input type="submit" value="Envair">
                                    </form>
                                </li>
                            </div>
                        </div>
                    </div>

                </div>
                <hr>



            </div>
        </div>
    </div>
{%endblock%}


