{% extends 'start/base.html' %}
{% load static %}
{% load likert_fa_stars %}
{% block extrainhead %}
<link rel="stylesheet" href={% static "/start/css/style-pages.css" %}>
<link rel="stylesheet" href={%
      static "/start/css/star-rating.min.css" %} media="screen, projector, print" type="text/css">
{% endblock %}
{%block content%}


<div class="profileUser">
    <div class="container">
        <div class="veiw_text">
            {% for order in orders %}
            <div class="Pededos">
                <div class="row">
                    <div class="col-md-6">
                        <h5><strong>{{order.seller.name}}</strong></h5>
                        <!--<h5><small>Liego 31 de octubre</small></h5>-->
                        <div class="aboutProudct">
                            <img class="img-responsive" width="180" src="{{order.seller.avatar.url}}" alt="">
                            <ul>
                                <li>total price</li>
                                <li>${{order.total_price}}</li>
                                <br/>
                                <li>total quantity</li>
                                <li>{{order.total_quantity}}</li>
                                <br/>
                                <li>status: {{order.status}}</li>
                                <li>a partir de {{order.created_at|timesince}}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="controlProudct">
                            {% if not order.rated %}
                            <div class="showReviwe col-md-10">

                                <div class="detailsProudct">

                                    <li>
                                        <form method="post" action="{% url 'products:addreview' order.id%}">
                                            {% csrf_token %}
                                            {{form.as_p}}
                                            <button type="submit">Save</button>
                                        </form>
                                        <br>
                                    </li>
                                </div>


                            </div>
                            {% else %}
                        </div>

                        <li>you have been rated this seller</li>
                        {% endif %}
                    </div>
                </div>
            </div>
            <hr width="55%" align="left">
            <div class="row">
                {% for item in order.order_items.all %}
                <div class="col-md-3">

                    <div class="proudct">
                        <a href="{% url 'products:product' item.product.id %}">
                            <div class="img-proudct">
                                <img class="img-responsive" src={{item.product.images.all.0.image.url}} alt="">
                            </div><!--/.img-proudct-->
                            <h4>{{item.product.name}}</h4>
                            <span class="pull-left"> {{item.quantity}}  x ${{item.product.price}} = {{item.total}} </span>

                        </a>
                    </div><!--/.proudct-->

                </div><!--/.col-->
                {% endfor %}
            </div><!--/.row-->


            {% if not forloop.last %}
            <hr>
            {% endif %}
            {% endfor %}


        </div>
    </div>
</div>
<script src={% static "/start/js/star-rating.min.js"%} type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
    $(".likert-field").rating();
  });
</script>
{%endblock%}


