{% extends 'start/base.html' %}
{% load static %}

{% block extrainhead %}
<link rel="stylesheet" href={% static "/start/css/style-pages.css" %}>
{% endblock %}
{%block content%}
<div class="proudct">
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="{% url 'products:category' category.id %}">{{category.name}}</a></li>
                <li><a href="{% url 'products:subcategory' subcategory.id%}">{{subcategory.name}}</a></li>
                <li class="active">{{product.name}}</li>
            </ol><!--/.breadcrumb-->

            <div class="details-product">
                <div class="row">
                    <div class="col-md-6">
                        <!--****SKITTER****-->
                        <div class="skitter skitter-large">
                            <ul>
                                {% if product.images.all.0.image.url %}
                                <li>
                                    <a href="javascript:void(0);"><img src={{product.images.all.0.image.url}} class="cut" /></a>
                                </li>
                                {% endif %}
                                {% if product.images.all.1.image.url %}
                                <li>
                                    <a href="javascript:void(0);"><img src={{product.images.all.1.image.url}} class="swapBlocks" /></a>
                                </li>
                                {% endif %}
                                {% if product.images.all.2.image.url %}
                                <li>
                                    <a href="javascript:void(0);"><img src={{product.images.all.2.image.url}} class="swapBarsBack" /></a>
                                </li>
                                {% endif %}
                                {% if product.images.all.3.image.url %}
                                <li>
                                    <a href="javascript:void(0);"><img  src={{product.images.all.3.image.url}} class="cut" /></a>
                                </li>
                                {% endif %}
                            </ul>
                        </div><!--/.skitter-->
                        <!--****/SKITTER****-->
                        <div class="caption">
                            <h3>Descripción</h3>
                            <p>
                                {{product.description}}
                            </p>
                        </div><!--/.caption-->
                    </div><!--/.col-->
                    <div class="col-md-6">
                        <div class="details">
                            <ul class="list-unstyled">
                                <h4>{{product.name}}</h4>
                                <li><b><i class="fa fa-map-marker"></i> Municipio: </b><span>{{product.seller.city.name}}</span></li>
                                {% for attribute in product.additional_attributes.all %}
                                <li><b><i class="fa fa-map-marker"></i> {{attribute.product_additional_attribute.name}}: </b><span>{{attribute.additional_attribute_value}}</span></li>
                                {% endfor %}

                                <!--<li><b><i class="fa fa-map-marker"></i> Dimensiones: </b><span>jumbotron-style</span></li>-->
                                <li><b><i class="fa fa-map-marker"></i> categoria: </b><span>{{category.name}}</span></li>
                                <li><b><i class="fa fa-map-marker"></i> precio: </b><span>$ {{product.price|floatformat:"0" }}</span></li>
                            </ul>
                            <a class="btn-proudct" onclick="add_cart({{product.id}})" id="add_c"><i class="fa fa-shopping-bag"></i> {% if not in_cart %} Anadir Al Carrito {% else %}Actualizarlo en carrito{% endif %}</a>
                            <form action="" method="post">
                                <label>Cantidad </label><input id="number" type="number" min="1" value="{{quantity|default_if_none:1}}">
                            </form>
                        </div><!--/.details-->
                        <div class="acount">
                            <p><strong>Vendedor:</strong></p>
                            <a href="{% url 'userprofile:vendor' product.seller.id %}">
                                <img class="img-circle img-thumbnail" src={{product.seller.avatar.url}} alt="">
                                <span>{{product.seller.name}}</span>
                                <span class="rate">
                                    {% for i in range %}
                                        {% if rate >= i %}
                                            <i class="fa fa-star"></i>
                                        {% endif %}

                                    {% endfor %}
                                    {% if remainder > .00001%}
                                        <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                    {% endif %}
                                    {% for i in range2 %}
                                        <i class="fa fa-star-o"></i>
                                    {% endfor %}
                                    <i style="color: #4e2a24;">({{product.seller.number_of_rates}}) {{the_rate}} </i>
                                </span>
                            </a>
                            <div class="about-vendor">
                                <strong><p>costo estimado de envío</p></strong>
                                <span class="pull-left"><i class="fa fa-money"></i> $12.000 Capitales</span>
                                <span class="pull-right"><i class="fa fa-money"></i> $20.000 Nacional</span>
                                <br>
                                <br>
                                <strong class="text-center"><p>"envío contraentrega"</p></strong>
                            </div><!--/.about-vendor-->
                        </div><!--/.acount-->
                    </div><!--/.col-->
                </div><!--/.row-->
            </div><!--/.details-product-->
        </div><!--/.container-->
    </div>
<script>
    function add_cart(product){
        quantity = $("#number").val();
        if (quantity > 0){
                $.ajax({
                            url: "http://www.artesaniasdeboyaca.com/products/cart/add/"+product+"/"+quantity+"/",
                            type: 'GET',
                            success: function(res) {
                                console.log(res);
                                $("#add_c").html('<i class="fa fa-shopping-bag"></i> Actualizarlo en carrito');
                            }
                });
        }
    }
</script>
    <!--/.proudct-->
{%endblock%}

